// $primary-brown : #c07d3b;
$primary-brown: #dc9957;
$secondary-brown: #e9b27b;

$primary-olive: #bac18a;
$secondary-olive: #ccd5ae;

$error: #b00020;
$background: #ffffff;

// Color scheme
$primary-color: #572f12;
$primary-color-dark: #633615;
$primary-color-darkest: #572f12;
$secondary-color: #25384f;
$accent-color: #196d75;
$light-neutral-color: #ebecf0;

$primary-grey: #d1d1d1;
$secondary-grey: #9c9a9a;

$tablet-landscape: 768px;

$offcanvas-horizontal-width: 50vw;
$offcanvas-padding-x: 0px;
